.clock_style_one {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10000;
  font-size: 32px;
  color: aqua;
}

.display_none_all {
  display: none;
}

.button_one {
  width: 100%;
  color: white;
  background: linear-gradient(#01a9e1, #5bc4bc);
  border-width: 0px;
  border-radius: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
