.body_clock {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.clock_style_one {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
  font-size: 32px;
  color: aqua;
}

.display_none_all {
  display: none;
}

/* _____ стили для падающего снега _________ */
.father_div {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.children_div {
  position: absolute;
  top: -10px;
  font-size: 16px;
  color: rgba(0, 81, 244, 0.578);
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(95vh);
  }
}
